<div class="hero">
  <br/>
  <div class="frosty text-center">
    <br />
    <h1>Video Streaming Platform</h1>
    <br />
    <h2>Created By: Kevin Wu</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Collective.</h3>
    <br />
    <p>Join a community of people who shares a similar interested as you do.</p>
  </div>
  <div class="col-12 col-sm">
    <h3>Curated.</h3>
    <br />
    <p>Find something you enjoy doing and work hard at it.</p>
  </div>
  <div class="col-12 col-sm">
    <h3>Creativity.</h3>
    <br />
    <p>Turn your ideas into reality and share with the world.</p>
  </div>
</div>